.sign-main {
display: flex;
}

.sign-content {
    border-radius: 8px;
    width: 400px;
    background-color: #fff;
}

.sign-content-dark {
    background-color: #505050;
}

.sign-content-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sign-tabs {
    width: 100%;
}

.sign-text {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.sign-content-box {

}

