.sign-main {
    background-color: rgba(0,0,0,.7);
    width: 100%;
    /* background-color: rgb(115, 166, 166); */
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.sing-content {
    border-radius: 8px;
    width: 400px;
    background-color: #fff;
}

.sing-content-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sing-tabs {
    width: 100%;
}

.sing-text {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.sign-content-box {

}

